<div class="p-5 mb-4 bg-body-tertiary rounded-3"> 
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= t('welcome') %></h1>

    <p class="col-md-8 fs-4">
        <%= t('about.i18n_lang') %> <strong><%= t('current_locale') %></strong>
    </p>
    <%# O método para buscar tradução é <strong>I18n.t()</strong>, as chaves ficam em config/locales.<br>
    O método para localização (como data e hora) é <strong>I18n.l()</strong>.<br><br>
    Testes I18n.t(): <%= t('hello') %> <%# O método pode ser chamado dessa forma ao invés de: I18n.t('hello') %>

    <%# Cookie e session declarados em app/controllers/welcome_controller.rb %>
    <p class="col-md-8 fs-4">
        <%= t('retrieving.cookie') %> <%= cookies[:curso] %><br>
        <%= t('retrieving.session') %> <%= session[:curso] %>
    </p>

    <%# Meu nome esta sendo chamado de uma variável de instância direto do controller. %>
    <p class="col-md-8 fs-4">
        <%= t('about.mynameis') %> <strong><%= @nome %></strong> <%= t('about.cryptowallet') %>
    </p>

    <%# O helper criado abaixo é o mesmo que => Date.today.strftime("%d/%m/%Y") %>
    <%# data_br(Date.today) %>
    <%# Após configurar o I18n na aplicação não vamos mais utilizar este helper. %>

    <%# l(Date.today) é o mesmo que I18n.l(Date.today) %>
    <p class="col-md-8 fs-4">
        <%= t('about.today') %> <%= l(Date.today) %>
    </p>
    
    <%# Partials começam com _
    Renderiza o menu de outro documento, o valor entre áspas encontra o arquivo:
    _menu.html.erb %>
    <%= render "menu" %>
    
    </div>
</div>

<p>
    Ambiente atual: <strong><%= ambiente_rails %>.</strong>
</p>

<%#
Exemplo: http://localhost:3000/?parametro=Ol%C3%A1%20mundo! 
Para 2 parâmetros: http://localhost:3000/?parametro=Ol%C3%A1%20mundo!&teste=ok
%>

<p>Exemplo de parâmetro capturado: <%= @parametro %></p>