<h1>Seja bem vindo!</h1>

<%# locale é um helper %>
<p>Configurado o I18n. O idioma usado nesta aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p> O método para buscar tradução é <strong>I18n.t()</strong>, as chaves ficam em config/locales.<br>
    O método para localização (como data e hora) é <strong>I18n.l()</strong>.<br><br>
    Testes I18n.t(): <%= t('hello') %> </p>
<%# O método pode ser chamado dessa forma ao invés de: I18n.t('hello') %>

<%# Cookie e session declarados em app/controllers/welcome_controller.rb %>
<p>Acessando cookie: <%= cookies[:curso] %></p>
<p>Acessando session: <%= session[:curso] %></p>

<%# Meu nome esta sendo chamado de uma variável de instância direto do controller. %>
<p>Meu nome é <%= @nome %> e seja bem vindo ao Cryptowallet.</p>
<%# O helper criado abaixo é o mesmo que => Date.today.strftime("%d/%m/%Y") %>
<%# data_br(Date.today) %>
<%# Após configurar o I18n na aplicação não vamos mais utilizar este helper. %>
<p>Dia de hoje: <%= l(Date.today) %></p>
<%# l(Date.today) é o mesmo que I18n.l(Date.today) %>

<%#
Partials começam com _
Renderiza o menu de outro documento, o valor entre áspas encontra o arquivo:
_menu.html.erb
%>
<%= render "menu" %>

<p>
    Ambiente atual: <strong><%= ambiente_rails %>.</strong>
</p>

<%#
Exemplo: http://localhost:3000/?parametro=Ol%C3%A1%20mundo! 
Para 2 parâmetros: http://localhost:3000/?parametro=Ol%C3%A1%20mundo!&teste=ok
%>

<p>Exemplo de parâmetro capturado: <%= @parametro %></p>