<h1>Seja bem vindo!</h1>

<%# Meu nome esta sendo chamado de uma variável de instância direto do controller. %>
<p>Meu nome é <%= @nome %> e seja bem vindo ao Cryptowallet.</p>
<%# O helper criado abaixo é o mesmo que => Date.today.strftime("%d/%m/%Y") %>
<p>Dia de hoje: <%= data_br(Date.today) %></p>

<%#
Partials começam com _
Renderiza o menu de outro documento, o valor entre áspas encontra o arquivo:
_menu.html.erb
%>
<%= render "menu" %>

<p>
    Ambiente atual: <strong><%= ambiente_rails %>.</strong>
</p>

<%#
Exemplo: http://localhost:3000/?parametro=Ol%C3%A1%20mundo! 
Para 2 parâmetros: http://localhost:3000/?parametro=Ol%C3%A1%20mundo!&teste=ok
%>

<p>Exemplo de parâmetro capturado: <%= @parametro %></p>